.bfeed{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 33px;
    margin-bottom: 33px;
    margin-right: 150px;
    margin-left: 150px;
    background-color: #aee7f8;
    box-shadow: #80ffdb;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgb(192, 192, 192);
}

.tweets{
    align-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}   
.bfeed a{
    color:white;
    text-decoration:none;
}
.tweetlist{
    background-color: #5390d9;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Trebuchet MS', sans-serif;
    color: #ffffff  ;
}

.icondiv{
    margin-right: 20px;
}
.tweetdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}