

.filter-bar{
    padding: 8px;
    display: flex;
    justify-content: end;
    width: auto;
}

.filter-select{
    flex-grow: 1;
    max-width: 250px;
}

select{
    margin-top: 10px;
    height: 20px;
}

.tableschedule{
    margin-left: 10px;
}

/* tr{
    border: 1px solid black;
} */
.tableschedule td{
    padding: 15px 15px;
    border: 1px solid black;
    border-radius: 5px;
    
}
.tableschedule th{
    padding: 15px 15px;
    border: 1px solid black;
    border-radius: 5px;
}